@use 'vars';

.hero {
    min-height: 700px;
    max-height: 100vh;
    background-image: url(../images/bg-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (max-width: 768px) {
        min-height: 70vh;
        background-position: 49%;
        padding-bottom: 42px;
    }

    &__content {
        text-align: center;
        padding: 0 24px 50px;

        @media (max-width: 768px) {
            padding-bottom: 0px;
        }

        &__title--hero {
            color: vars.$titleDark;
            font-size: 80px;
            text-transform: uppercase;
            word-spacing: 25px;
            display: block;
            margin-bottom: 24px;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 42px;
                word-spacing: 6px;
            }
        }

        &__link-text {
            color: vars.$textDark;
            text-transform: uppercase;

            &:hover {
                color: #fff;
            }
        }
    }
}